<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
<body>
  <h1>Welcome to the Blog Site</h1>
  {{#if user}}
    <p>Welcome, {{user.username}}!</p>
    <a href="/users/{{user.id}}/posts">Go to Dashboard</a>
    <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  {{/if}}

  <h2>Recent Posts</h2>
  {{#each posts}}
    <div>
      <h3>{{this.title}}</h3>
      <p>By {{this.User.username}} | {{this.createdAt}}</p>
      <p>{{this.content}}</p>
      <a href="/posts/{{this.id}}">Read More</a>
    </div>
  {{/each}}
</body>
</html>
